table {
    border-spacing: 0;
    border: 3px solid #eee;
    width:100%;
}
tbody{
    border: 1px solid blue;
    background-color:white;
    box-shadow: 0 0 0 1px black;
}

tr:nth-child(even){
    background-color:#f0f0f0;
}

tr:hover{
    background-color:#f5f5ff;
}
tr:last-child{
    background-color: white;
    box-shadow: 0 0 0 1px black;
}

thead {
    box-shadow: 0 0 0 1px black;
}
th {
    background-color: #f5f7f7;
    padding: .25em;
    font-weight: 600;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
th :after{
    /* border-right: 1px solid rgba(189, 195, 199, 0.5);
     content: " ";
     height: 16px;
     margin-top: 8px;
     text-indent: -2000px; */
     }
td {
        margin: 0;
        /* padding: 0.5rem; */
        /* display: flex;
        flex-wrap: wrap;
        justify-content: center; */
        text-align:center;
        font-weight: 400;
        
      }
td :first-child{
        border-right: 1px solid black;
      }
td :last-child{
          border-right: 0;
      }
.pagination {
        padding: 0.5rem;
      }
   

.filtersWrapper{
    margin: 0 0 10px 0;
}

.filters{
    display: flex;
    flex-wrap:wrap;
}
.filterBtn{
    margin:5px 0 0 0;
}


.filterLabel{
    margin: 0 5px;
}